/*  */
.jumbotron-auth {
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/luxury-parties.jpg");
    background-position-y: -257px;
    opacity: 2;
}
.jumbotron-auth h1{
    background: rgba(0, 0, 0, 0.5);
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.log-type {
    width: 90px;
    border: 4px solid #484848;
    color: #282828;
    font-size: 20px;
    border-radius: 60px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.log-type:hover, .btn-login:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.App-login {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    padding: 20px;
    color: white;
}

*:focus {
    outline: none !important;
}


/* Buton login */
.btn-login {
    padding: 7px;
    background-color: #fff; 
    border-radius: 10px;
    border: 1px solid #282828;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
}

.btn-login:hover {
    padding: 10px;
    background-color: #282828; 
    border-radius: 10px;
    margin-right: 20px;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .jumbotron-auth {
        height: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/media/luxury-parties.117f7395.jpg);
        background-position-y: -0px;
        opacity: 2;
    }
    .jumbotron-auth h1{
        background: none;
        font-size: 30px;
    }
    .form-log {
        width: 100%;
    }
  }




