/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Card Profil /////////////////////////////////////////////// */
.jumbotron-list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/skyline.jpg");
  height: 200px;
  background-position-y: -345px;
  opacity: 2;
  color: #fff;
}
.card-profil-promoter{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }
  
  .card-profil-promoter img{
    border-radius: 8px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 140px;
  }
  
  .description{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .description b{
    font-size: 23px;
  }
  
  .description h4{
    margin-top: 20px;
  }
  
  .line-hr{
    width: 14%;
    margin-left: 0px;
    border: 1px solid;
    margin-top: -5px;
  }
  
  .description li{
    list-style-type: none;
  }
  
  .fa-instagram , .fa-envelope, .fa-mobile{
    font-size: 30px;
  } 
  
  .float-right span{
    padding-right: 20px;
  }

  .log-contact{
    color: #282828;
  }

  .log-contact:hover{
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    .jumbotron-list {
      background-position-y: 0px;
    }
    .form-log{
      width: 95%;
    }
  }