.jumbotron-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/eleven.jpg") !important;
    height: 250px !important;


  }

  .jumbotron-contact h1{
      margin-top: 30px;
  }

  .text-contact{
    margin-bottom: 80px;
    font-size: 25px;
  }
  .text-contact h1{
    margin-bottom: 40px;
    font-weight: 300;
  }

  .image-contact img{
    margin-top: 13%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }

  @media only screen and (max-width: 600px) {
    .jumbotron-contact{
        background-position-y: 0px !important;
 
    }


  }