/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Carrousel Slick //////////////////////////////////////////// */
.slick img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    display: block;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 8px;
  }

  .slick h1{
    margin-bottom: 40px; 
    font-weight: 300;
  }

  .slick{
    margin-bottom: 80px; 
  }