/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Form ////////////////////////////////////////////////////// */
.form-log{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }
  

  .form-log:hover, .form-control:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }

  .jumbotron-dash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/island.jpg");
    height: 200px;
    background-position-y: -345px;
    opacity: 2;
    color: #fff;
  }

  .fa-check-square{
    color:#2EAF95;
  }

  .card-profil{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }
  
  .card-profil img{
    border-radius: 8px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 140px;
  }

  .contact-user .fas{
    font-size: 30px;
  }

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Edit User ///////////////////////////////////////////////// */
  .form-log-user{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }

  .form-log-user:hover, .form-control:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }

  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Edit Promoter /////////////////////////////////////////////// */
.form-log-promoter{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.form-log-promoter:hover, .form-control:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.text-message{
  font-size: 20px;
}

.validate{
  background-color: #282828;
  color: #fff;
  padding: 10px;
}

.validate-promoter{
  background-color: #282828;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .jumbotron-dash {
    background-position-y: 0px;
  }
  .form-log{
    width: 95%;
  }
}

